################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PrimerProyectoAfterSession/FileContentIndex/2df22a77-1913-4e24-9a5b-2b8dd1e76b0f.vsidx
/.vs/PrimerProyectoAfterSession/FileContentIndex/36c58b84-6cde-43b6-9303-a7a6400e8012.vsidx
/.vs/PrimerProyectoAfterSession/FileContentIndex/4eb81f51-c04d-43d0-ab31-926e01bd2fc9.vsidx
